* {
  box-sizing: border-box;
}
:root {
  --primary-text-color: #171100;
  --background-color: #fffcf4;
  --white-color: #fff;
  --second-text-color: #5f5b53;
  --font-body: Sen, serif;
  --btn-color: #ffb900;
}
/* Doi don vi px sang rem */
html {
  font-size: 62.5%;
}

body {
  /* 1.6rem = 16px */
  font-size: 1.6rem;
  font-family: Poppins, sans-serif;
}
a {
  text-decoration: none;
  cursor: pointer;
}
.main-content .active {
  background-color: var(--btn-color);
}
button {
  cursor: pointer;
}

li {
  list-style: none;
}
/******************************************* HEADER Section *******************************************/
.header {
  background-color: var(--background-color);
  padding: 44px 0;
}

.main-content {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  /* short hand margin: 0 auto */
  max-width: calc(100% - 24px);
  /* xem lai phan nay */
}
.main-content .decs {
  font-size: 1.8rem;
  line-height: 30px;
  color: var(--second-text-color);
  font-weight: 400;
  /* margin-top: 28px;
  margin-bottom: 38px; */
}
.btn {
  width: 144px;
  line-height: 50px;
  color: var(--white-color);
  background-color: var(--primary-text-color);
  border-radius: 24.5px;
  text-align: center;
}
.header .body {
  display: flex;
  align-items: center;
}

.header nav {
  display: flex;
  margin-left: auto;
}
.header nav a {
  font-size: 1.6rem;
  line-height: 28px;
  color: #5f5b53;
  padding: 0 21px;
}

/******************************************* re chuot *******************************************/
.header nav a:hover {
  color: var(--primary-text-color);
  text-shadow: 1px 0 0 currentColor;
}

.header nav a.header-active {
  font-weight: 600;
  color: var(--primary-text-color);
  position: relative;
}

.header nav a.header-active::after {
  content: "";
  width: 12px;
  height: 2px;
  border-radius: 1px;
  background: var(--primary-text-color);
  display: block;
  position: absolute;
  top: 23px;
  left: 22px;
}

.header .body .btn-sign-up {
  margin-left: 49px;
}

/******************************************* Hero section *******************************************/
.hero {
  background-color: var(--background-color);
}
.hero .main-content {
  display: flex;
  padding-bottom: 110px;
}

.hero .left-box {
  width: 48.7%;
  position: relative;
}

.hero .left-box > img {
  width: 470px;
  height: 685px;
  border-radius: 20px;
}

.hero .left-box .summary {
  background-color: var(--white-color);
  border-radius: 12px;
  width: 240px;
  height: 244px;
  padding: 24px;
  position: absolute;
  bottom: 48px;
  right: 0px;
}

.hero .left-box .item {
  display: flex;
  margin: 7px 0;
  align-items: center;
}

.hero .left-box span {
  display: block;
}

.hero .left-box .icon {
  margin-right: 16px;
  width: 48px;
  height: 48px;
}

.hero .left-box .course-content span:first-child {
  font-size: 1.4rem;
  color: var(--second-text-color);
  line-height: 26px;
}
.hero .left-box .course-content span:last-child {
  color: var(--primary-text-color);
  font-size: 1.8rem;
  line-height: 30px;
  font-weight: 600px;
}
.hero .left-box .summary .item:first-child {
  margin-top: 0px;
}
.hero .left-box .summary .item:last-child {
  margin-bottom: 0px;
}
.hero .right-box {
  width: 51.3%;
  padding-left: 116px;
  padding-top: 101px;
}

.hero .right-box h1 {
  font-family: var(--font-body);
  font-weight: 700;
  color: var(--primary-text-color);
  font-size: 5.8rem;
  line-height: 68px;
  width: 488px;
}

.hero .right-box .decs {
  margin-top: 28px;
  margin-bottom: 38px;
}
.hero .right-box .call-to-action {
  display: flex;
  margin-bottom: 48px;
}
.hero .right-box .btn-see-courses {
  background-color: var(--btn-color);
  color: var(--white-color);
  width: 180px;
  height: 64px;
  line-height: 64px;
  border-radius: 32px;
  font-size: 1.8rem;
  font-weight: 600;
  margin-right: 28px;
}

.hero .right-box .btn-watch-video {
  display: flex;
  background: none;
  border: none;
  align-items: center;
  font-weight: 600;
  font-size: 1.8rem;
}

.hero .right-box .btn-watch-video span {
  margin-left: 14px;
  font-weight: 600;
  font-size: 1.8rem;
  margin-top: -10px;
}

.hero .right-box .recent-engagement {
  font-size: 1.8rem;
  line-height: 30px;
  color: var(--second-text-color);
}

.hero .right-box .stats {
  display: flex;
  gap: 29px;
}

.hero .right-box .item strong {
  font-size: 5.4rem;
  font-weight: 600;
  font-family: var(--font-body);
  line-height: 54px;
}
/******************************************* Courses products *******************************************/
.courses-products {
  margin-top: 153px;
  margin-bottom: 200px;
}
.courses-products .product-header > div:first-child {
  width: 458px;
}
.courses-products .product-header h1 {
  line-height: 48px;
  color: var(--primary-text-color);
  font-size: 3.8rem;
  font-family: var(--font-body);
  letter-spacing: -2px;
  font-weight: 700;
  margin-bottom: 16px;
}

.courses-products .call-to-action {
  display: flex;
  gap: 20px;
}
.courses-products .product-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
      margin-bottom: 55px;
}
.courses-products .call-to-action .next-prev-btn {
  width: 40px;
  height: 40px;
  background-color: var(--white-color);
  border-radius: 50%;
  font-size: 3.2rem;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  color: var(--btn-color);
}
.courses-products .call-to-action .next-prev-btn img {
  padding-bottom: 5px;
}
.courses-products .call-to-action .next-prev-btn:last-child {
  background-color: var(--btn-color);
}

.courses-products .product-list {
  display: flex;
  gap: 30px;
}
.courses-products .product-card {
  width: 370px;
  height: 466px;
  border-radius: 12px;
  border: 1px solid #e2dfda;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}
.courses-products .card-body {
  padding: 16px 22px 22px 22px;
}
.courses-products .card-body .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.courses-products .card-body h3 {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 30px;
  color: var(--primary-text-color);
}
.courses-products .card-body .title > div {
  display: flex;
}
.courses-products .card-body .star {
  color: #fea31b;
  font-size: 1.6rem;
  line-height: 26px;
  font-weight: 300;
  margin-left: 5px;
  margin-top: 4px;
}

.courses-products .card-body .decs {
  font-size: 1.4rem;
  line-height: 26px;
  margin-top: 6px;
  margin-bottom: 12px;
}

.courses-products .card-body .price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.courses-products .price span {
  font-weight: 600;
  line-height: 30px;
  font-size: 1.8rem;
  color: var(--primary-text-color);
}

/******************************************* About *******************************************/
.about {
  background-color: #2e2100;
  height: 380px;
}
.about .content {
  padding-top: 96px;
  display: flex;
  justify-content: space-between;
}
.about .left-side {
  align-items: center;
  width: 159px;
  height: 188px;
}
.about .left-side h3 {
  line-height: 34px;
  font-size: 2.4rem;
  color: #f7f7f7;
  font-weight: 700;
}
.about .left-side img {
  border-radius: 50%;
  margin-bottom: 18px;
}
.about .left-side span {
  color: #bfbcb2;
  line-height: 26px;
  font-size: 1.4rem;
}
.about .right-side {
  width: 770px;
  height: 188px;
  position: relative;
}
.about .right-side img {
  position: absolute;
  top: -20px;
  left: -28px;
}
.about .right-side p {
  color: var(--white-color);
  line-height: 40px;
  font-size: 2.6rem;
  font-style: italic;
}
/***************************** sign up section********************* */
.signup-section {
  margin-top: 31px;
  margin: 200px 0px;
}
.signup-section .sign-up {
  display: flex;
}

.signup-section .sign-up .sign-up-img {
  width: 570px;
  height: 438px;
  display: flex;
  margin-right: 130px;
  gap: 30px;
}
.signup-section .sign-up img {
  width: 270px;
  height: 405px;
  border-radius: 16px;
}
.signup-section .sign-up .sign-up-img > img:first-child {
  margin-top: 30px;
}

.signup-section .sign-up .content {
  margin-top: 51px;
}

.signup-section .sign-up .content h1 {
  line-height: 48px;
  font-weight: 600;
  font-size: 3.4rem;
  font-family: var(--font-body);
  color: var(--primary-text-color);
}
.sign-up .content p {
  margin-top: 16px;
  display: block;
  line-height: 28px;
  font-size: 16px;
  color: var(--second-text-color);
}

.sign-up .content .btn-sign-up {
  margin-top: 32px;
  background-color: var(--btn-color);
  display: block;
  width: 137px;
  height: 50px;
}
.sign-up:nth-child(2) .content {
  width: 570px;
  margin-right: 130px;
}
.sign-up:nth-child(2) > img {
  width: 470px;
  height: 440px;
}
.signup-section .sign-up:nth-child(2) {
  margin-top: 130px;
}

/****************************************** Blog section *******************************************/

.blog {
  padding-top: 96px;
  padding-bottom: 140px;
  background-color: #fffcf4;
}

.blog .heading {
  text-align: center;
  width: 448px;
  height: 120px;
  margin: 0 auto;
  margin-bottom: 55px;
}
.blog .heading h1 {
  line-height: 48px;
  font-size: 3.8rem;
  font-family: var(--font-body);
  font-weight: 600;
  color: #130606;
  letter-spacing: -2px;
}
.blog .heading p {
  margin-top: 16px;
  font-size: 16px;
  line-height: 28px;
  color: #696262;
}

.blog .read-more-list {
  display: flex;
  gap: 30px;
}
.blog .read-more-info {
  padding: 20px;
}
.blog .read-more-list .read-more-card {
  border-radius: 16px;
  background-color: #fff;
  width: 370px;
  height: 467px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}
.blog .read-more-info .date {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 12px;
}
.blog .read-more-info .date::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 160px;
  height: 1px;
  background-color: #e2dfda;
}
.blog .read-more-info .date img {
  width: 6px;
  height: 6px;
  margin-right: 4px;
  margin-top: 1px;
}
.blog .read-more-info .date span {
  font-size: 1.4rem;
}

.blog .read-more-info p {
  margin-bottom: 12px;
  line-height: 28px;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 28px;
  color: var(--primary-text-color);
}
.blog .read-more-info .read-more-btn {
  display: block;
  width: 118px;
  line-height: 50px;
}

/********************************************* Fotter ******************************************** */

.footer {
  background-color: #2e2100;
}
.footer .main-content {
  padding-top: 105px;
  padding-bottom: 73px;
}
.footer .footer-info {
  display: flex;
  padding-bottom: 38px;
  position: relative;
}
.footer .footer-info::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  height: 1px;
  width: 100%;
  background-color: #59554b;
}
.footer .footer-info h3 {
  color: var(--white-color);
}

.footer .footer-info .lesson {
  width: 267px;
  height: 163px;
  margin-right: 145px;
}

.footer .lesson .heading {
  display: flex;
}
.footer .lesson .heading h3 {
  font-family: var(--font-body);
  font-size: 2.4rem;
  line-height: 34px;
  font-weight: 600;
}
.footer .lesson p {
  color: #bfbcb2;
  font-size: 1.4rem;
  line-height: 26px;
  margin: 18px 0px;
}
.footer .lesson .heading img {
  margin-top: 12px;
  margin-left: 2px;
}
.footer .lesson .footer-logo {
  display: flex;
  gap: 18px;
}
.footer .footer-menu {
  display: flex;
  gap: 130px;
}
.footer .footer-menu .footer-container {
  width: 130px;
  height: 211px;
}

.footer .footer-menu .footer-container h3 {
  position: relative;
  margin-bottom: 43px;
}
.footer .footer-menu .footer-container h3:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -13px;
  width: 130px;
  height: 1px;
  background-color: #59554b;
}
.footer .footer-container span {
  color: #bfbcb2;
  line-height: 26px;
  font-size: 1.3rem;
}

.footer .footer-container:last-child {
  width: 231px;
}

.footer .footer-container strong {
  color: #fff;
  font-weight: 600;
  line-height: 26px;
}
.footer .footer-menu .footer-container span {
  margin-top: 12px;
      display: block;
}

.footer .footer-bottom {
  color: #807d74;
  line-height: 26px;
  text-align: center;
  margin-top: 28px;
}
